[user]
	name = Ivan Katanić
	email = ivan.katanic@gmail.com
[credential]
	helper = cache
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
        lg = log --graph --decorate --oneline --all